{% extends 'base.html' %}
{% load static %}

{% block otherscripts %}
        {% csrf_token %}

    <script src="{% static 'scripts/wordsfetching.js' %}" defer async></script>
{% endblock %}
{% block firstcontainer %}
    <input type="hidden" id="wordGroup" name="variable" value="{{ name }}">

{% endblock %}

{% block container %}
        {% csrf_token %}

        <div class="card" style="width: 40rem; height: 30rem">

    <div class="card" style="width: 18rem;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item word">{{ word.your_language }}</li>
    <li class="list-group-item word-foreign">{{ word.foreign_language }}</li>
    <li class="list-group-item">{{ word.example_of_use }}</li>
  </ul>
</div>
            <div class="learning-buttons">
        <a class="btn btn-primary show-foreign wordbtn">Show</a>
                <a class="btn btn-primary show-foreign known">I knew</a>
        <a class="btn btn-primary show-foreign unknown">I didn't know</a>
        <a href="/wordgroups/{{ lan_id }}" class="btn btn-primary show-foreign go-back">Go back</a>

            </div>

</div>


{% endblock %}

