{% extends 'base.html' %}
{% load static %}
{% block firstcontainer %}

        <div class="card start">
{#  <img src="..." class="card-img-top" alt="...">#}

  <div class="card-body">
    <h5 class="card-title">Start learning</h5>
    <a href="/wordgroups/{{ name }}/learn" class="btn btn-primary">Start</a>
  </div>
</div>
    <div class="card">


        <div class="card">
{#  <img src="..." class="card-img-top" alt="...">#}

  <div class="card-body">
    <h5 class="card-title">Add new word</h5>
    <a href="/wordgroups/{{ name }}/create" class="btn btn-primary">Add</a>
  </div>
</div>
            <div class="card">

{% endblock %}

{% block container %}
    {% for word in words %}
        <div class="card" style="width: 18rem;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{ word.your_language }}</li>
    <li class="list-group-item">{{ word.foreign_language }}</li>
    <li class="list-group-item">{{ word.example_of_use }}</li>
  </ul>
</div>
        <br>
    {% endfor %}
{% endblock %}
