{% extends 'base.html' %}
{% load static %}
{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
{% endblock %}
{% block otherscripts %}
        {% csrf_token %}
    <script src="{% static 'scripts/wordgroupsharing.js' %}" defer async></script>
{% endblock %}
{% block firstcontainer %}

    <form action="" method="post">
        {% csrf_token %}

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Add to my groups</h5>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</div>

    </form>
{% endblock %}

{% block container %}

            <div class="card-body">

        {% for word in words %}
            <div class="card" style="width: 8rem; height: 4rem; font-size: small;">{{ word.your_language }}<br>
                {{ word.foreign_language }}</div><br>

        {% endfor %}</div>



{% endblock %}
