{% extends 'base.html' %}
{% load static %}
{% block otherscripts %}
        {% csrf_token %}

    <script src="{% static 'scripts/wordgroupsharing.js' %}" defer async></script>
{% endblock %}
{% block firstcontainer %}
        <input type="hidden" id="wordGroup" name="variable" value="{{ name }}">
        <input type="hidden" id="user" name="variable" value="{{ user }}">
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Add to my groups</h5>
    <a class="btn btn-primary">Add</a>
  </div>
</div>
{% endblock %}

{% block container %}
        {% for word in words %}
        <ul>
        <li>{{ word.your_language }}</li>
        <li>{{ word.foreign_language }}</li>
        </ul>
    {% endfor %}


{% endblock %}
