{% extends 'base.html' %}
{% load static %}
{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
{% endblock %}
{% block firstcontainer %}
    <div class="card">
{#  <img src="..." class="card-img-top" alt="...">#}

  <div class="card-body">
    <h5 class="card-title">Add new category</h5>
    <a href="/wordgroups/{{ num }}/create" class="btn btn-primary">Add Category</a>
  </div>
</div>
{% endblock %}

{% block container %}
    {% for group in wordgroups %}

    <div class="card">
{#  <img src="..." class="card-img-top" alt="...">#}

  <div class="card-body">
    <h5 class="card-title" style="font-size: x-large">{{ group.name }}</h5>
    <a href="/wordgroups/{{ group.name }}/{{ user.id }}/learn/" class="btn btn-primary">Start learning</a>
    <a href="/wordgroups/{{ group.name }}/{{ user.id }}" class="btn btn-primary">See content</a>
    <a href="/wordgroups/{{ group.name }}/{{ user.id }}/create" class="btn btn-primary">Add words</a>
    <a href="/deletegroup/{{ group.id }}" class="btn btn-primary">Delete group</a>
    <a href="/wordgroups/{{ group.name}}/share" class="btn btn-primary">Share</a>
  </div>
</div>

        <br>
    {% endfor %}
{% endblock %}
