{% extends 'base.html' %}
{% load static %}
{% block firstcontainer %}
    <div class="card">
{#  <img src="..." class="card-img-top" alt="...">#}

  <div class="card-body">
    <h5 class="card-title">Add new category</h5>
    <a href="/wordgroups/{{ num }}/create" class="btn btn-primary">Add Category</a>
  </div>
</div>
{% endblock %}

{% block container %}
    {% for group in wordgroups %}

    <div class="card">
{#  <img src="..." class="card-img-top" alt="...">#}

  <div class="card-body">
    <h5 class="card-title">{{ group.name }}</h5>
    <p class="card-text">Your words in {{ group.name }} group</p>
    <a href="/wordgroups/{{ group.name }}" class="btn btn-primary">Choose</a>
    <a href="/wordgroups/{{ group.name }}/create" class="btn btn-primary">Add words</a>
    <a href="/deletegroup/{{ group.id }}" class="btn btn-primary">Delete group</a>
  </div>
</div>
        <br>
    {% endfor %}
{% endblock %}
