{% extends 'base.html' %}
{% load static %}


{% block container %}
    <div class="card">
  <div class="card-body">
    <h5 class="card-title" style="font-size: x-large">{{ course.name }}</h5>
    <h6 class="card-title" style="font-size: large">{{ course.info }}</h6>
      <a href="/flashcards/{{ course.pk }}" class="btn btn-primary">Flashcards</a>

  </div>
</div>
    <div class="card">
  <div class="card-body">
  <h7>Participants:</h7>
      <p style="font-size: small">
          {% for student in students %}
              {{ student.name }},
          {% endfor %}</p>

  </div>
</div>
        <div class="card">
  <div class="card-body">
      {% for post in posts %}
          <h3>{{ post.title }}</h3>
          <p style="font-size: xx-small">{{ post.date_added }}</p>
          <p>{{ post.info }}</p>

      {% endfor %}

  </div>
</div>

        <br>
{% endblock %}