{% extends 'base.html' %}
{% load static %}


{% block container %}
<p> Teacher </p>
    <div class="card">
  <div class="card-body">
    <h5 class="card-title" style="font-size: x-large">{{ course.name }}</h5>
    <h6 class="card-title" style="font-size: large">{{ course.info }}</h6>
    <a href="/addstudents/{{ course.pk }}" class="btn btn-primary">Add students</a>
    <a href="/editcourse/{{ course.pk }}" class="btn btn-primary">Edit course</a>
    <a href="/addpost/{{ course.pk }}" class="btn btn-primary">Post</a>
    <a href="/deletecourse/{{ course.pk }}" class="btn btn-primary">Delete course</a>
  </div>
</div>
        <div class="card">
  <div class="card-body">
      {% for post in posts %}
          <h3>{{ post.title }}</h3>
          <p style="font-size: xx-small">{{ post.date_added }}</p>
          <p>{{ post.info }}</p>

      {% endfor %}

  </div>
</div>

        <br>
{% endblock %}