{% extends 'base.html' %}
{% load static %}
{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
{% endblock %}

{% block container %}
    {% for group in wordgroups %}

    <div class="card">
{#  <img src="..." class="card-img-top" alt="...">#}

  <div class="card-body">
    <h5 class="card-title" style="font-size: x-large">{{ group.name }}</h5>
    <a href="/wordgroups/{{ group.name }}/{{ owner.id }}/student" class="btn btn-primary">See content</a>
      <a href="/addflashcardgroup/{{ course.id }}/{{ group.name }}/{{ owner.id }}/{{ user.id }}" class="btn btn-primary">
                   Add flashcards to my account</a>
  </div>
</div>

        <br>
    {% endfor %}
{% endblock %}
