{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Self Learner</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
          {% if user.is_authenticated %}
              <li class="nav-item">
          <a class="nav-link" href="{% url 'users:logout' %}">Logout</a>
        </li>
          {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'users:login' %}">Login</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="{% url 'users:registration' %}">Register</a>
        </li>
          {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'words:languages' %}"> Start learning</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/courses/{{ user.id }}"> Your Courses </a>
        </li>
      {% if user.is_teacher %}
              <li class="nav-item">
          <a class="nav-link" href="{% url 'words:createcourse' %}">Create course</a>
        </li>
      {% endif %}

      </ul>
    </div>
  </div>
</nav>